@app.route("/", methods=["GET", "POST"])
def index():
    status = None
    z_score = None

    if request.method == "POST":
        name = request.form["name"]
        age = int(request.form["age"])
        height = float(request.form["height"])
        gender = request.form["gender"]

        # Hitung Z-score berdasarkan usia dan jenis kelamin
        z_score = hitung_z_score(age, height, gender)
        status = interpretasi_z_score(z_score)

        # Simpan riwayat
        log_data = {
            'name': name,
            'age_months': age,
            'height': height,
            'gender': gender,  # ⬅ penting
            'z_score': z_score,
            'status': status
        }

        logs = session.get('logs', {})
        logs[str(len(logs))] = log_data
        session['logs'] = logs

    return render_template("index.html", status=status, z_score=z_score, logs=session.get('logs'))
